div{
	font-size: 20px;
}

#fundo{
	background-color: #e6e6e6;
}

#hist{
float: right;
}

#cien{
	display: inline-block;
}

#memoria{
	margin-left: 50px;
	margin-right: 150px;
}

#num_men{
	font-size: 20px;
	color: gray;
	
}

#num_maior{
	font-size: 50px;
}

.botao1{
	padding-right: 0;
	
}

.men{
	font-size:12px;
	border: none;
	background-color: #e6e6e6;
	height: 35px;
	width: 60px;
}

.bt_calc{
	width: 125px; 
	height: 70px;
	margin-bottom: 3px;
	font-size: 15px;
	border: none;
	background-color: #f0f0f0;
}

@font-face {
    font-family: Latin;
    src: url(../fonts/latin-modern.otf)
}

#x{
	 font-family: Latin;
}

.btn_num{
	font-size: 25px;
	background-color: #fafafa;
}

.btn_numa{
	font-size: 25px;
}

.btn_num:hover{
background-color: darkgray;
border: 1px solid lightgray;
}



.bt_calc:hover{
	background-color: darkgray;
	border: 1px solid lightgray;
}

.men:hover{

	background-color: darkgray;
	border: 1px solid lightgray;
}

#resul{
	text-align: right;
	float: right;
	margin-right:460px;
	margin-top: -30px;
	
}

#min_resul{
	text-align: right;
	float: right;
	font-size: 20px;
	color: gray;
	margin-right:460px;
}

.historico-memoria {
	position: absolute;
	top: 30px;
	width: 300px;
	left: 1040px;
}
.historico-memoria > .historico, .memoria {
	text-align: right;
}

.hist-mem{
	border:none;
	background-color: #e6e6e6;
}